import(lattice)
export(etm, summary.etm, clos, trcov, trprob, etmprep)
S3method(xyplot, etm)
S3method(print, etm)
S3method(summary, etm)
S3method(print, summary.etm)
S3method(plot, etm)
S3method(print, clos.etm)
S3method(plot, clos.etm)
S3method(trprob, etm)
S3method(trcov, etm)
useDynLib(etm, risk_set_etm, cov_dna, los_cp, los_nocp)
